wsdl/producto.wsdl

<definitions xmlns:tns="urn:producto" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="ProductoServicio" targetNamespace="urn:producto">
	<xsd:element name="productotipo">
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element name="producto" type="xsd:string"/>
			<xsd:element name="precio" type="xsd:float"/>
			<xsd:element name="descripcion" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	</xsd:element>

	<message name="ProductoPeticion">
		<part name="buscar" type="xsd:string"/>
	</message>

	<message name="ProductoRespuesta">
		<part name="respuesta" type="xsd:productotipo"/>
	</message>

	<portType name="ProductoPort">
		<operation name="obtenerproducto">
			<input message="tns:ProductoPeticion"/>
			<output message="tns:ProductoRespuesta"/>
		</operation>
	</portType>

	<binding name="ProductoBinding" type="tns:ProductoPort">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="obtenerproducto">
			<soap:operation soapAction="urn:producto#obtenerproducto"/>
			<input>
				<soap:body use="encoded" namespace="urn:producto" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:producto" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
	</binding>

	<service name="ProductoServicio">
		<port name="ProductoPort" binding="tns:ProductoBinding">
			<soap:address location="http://betohost/bakery/wsdl/producto_server.php"/>
		</port>
	</service>
</definitions>